html {
  box-sizing: border-box; }

*,
*::after,
*::before {
  box-sizing: inherit; }

html {
  height: 100%; }

body {
  background-image: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 800, from(#fff), to(#fff));
  height: 100%;
  position: relative; }

section.clock {
  width: 270px;
  height: 74px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -37px;
  margin-left: -135px; }

.clock .hex-color {
  display: none; }

.clock:hover .hex-color {
  display: inline-block; }

.clock:hover .time {
  display: none; }

.time span,
.hex-color span {
  display: inline-block;
  font-size: 2.6em;
  font-family: "Nova Mono", sans-serif;
  color: #fff; }

.time span:first-child,
.hex-color span:first-child {
  margin-left: 32px; }

.time hr {
  width: 100%; }
