html {
  box-sizing: border-box; }

*,
*::after,
*::before {
  box-sizing: inherit; }

html {
  height: 100%; }

body {
  background-image: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 800, from(#fff), to(#fff));
  height: 100%;
  position: relative; }

h1.clock {
  width: 292px;
  height: 74px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -37px;
  margin-left: -146px; }

h1.clock > span {
  display: inline-block;
  font-size: 2em;
  color: #fff; }

h1.clock > hr {
  width: 100%; }
