@import '../../../bower_components/bourbon/app/assets/stylesheets/bourbon';
@import '../../../bower_components/neat/app/assets/stylesheets/neat';

$clock-font: 'Nova Mono', sans-serif;


html {
  height:100%;
}

body {
  //background-color:#440951;
  background-image: -webkit-gradient(radial, 50% 50%, 0, 50% 50%,800, from(#fff), to(#fff));
  height: 100%;
  position: relative;
}

h1.clock {
  width: 270px;
  height: 74px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -37px;
  margin-left: -135px;

}

h1.clock  span {
  display: inline-block;
  font-size: 1.6em;
  font-family: $clock-font;
  color: #fff;
}

h1.clock span:first-child {
  margin-left: 2px;
}

h1.clock  hr {
  width: 100%;
}
