@import '../../../bower_components/bourbon/app/assets/stylesheets/bourbon';
@import '../../../bower_components/neat/app/assets/stylesheets/neat';

$clock-font: 'Nova Mono', sans-serif;


html {
  height:100%;
}

body {
  //background-color:#440951;
  background-image: -webkit-gradient(radial, 50% 50%, 0, 50% 50%,800, from(#fff), to(#fff));
  height: 100%;
  position: relative;
}

section.clock {
  width: 270px;
  height: 74px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -37px;
  margin-left: -135px;
}

.clock .hex-color {
  display: none;
}

.clock:hover .hex-color {
  display: inline-block;
}

.clock:hover .time {
  display: none;
}

.time span,
.hex-color span {
  display: inline-block;
  font-size: 2.6em;
  font-family: $clock-font;
  color: #fff;
}

.time span:first-child,
.hex-color span:first-child {
  margin-left: 32px;
}

.time hr {
  width: 100%;
}
